<div class="ui divided items">
    <div class="item">
      <div class="image">
        <% if product.image.present? %>
          <%= image_tag product.image%>
        <% else %>

        <% end %>
      </div>
      <div class="content">
        <%= link_to product.product_name, product, class: "ui red header" %>
        <div class="red meta">
          <span class="price">Sales price: $<%= product.sales_price %></span>
        </div>
        <div class="description">
          <div class="meta">
            <span class="release-date">Release Date: <%= product.release_date %></span>
          </div>
          <div class="meta">
            <span class="original">Original: <%= product.original.name %></span>
          </div>
          <div class="meta">
            <span class="manufacturer">Manufacturer: <%= product.manufacturer.name %></span>
          </div>
        </div>
        <div class="extra">
          <div class="ui label"><%= product.product_status %></div>
          <div class="ui label"><i class="list ol icon"></i>Add to Wish List</div>
          <div class="ui right floated inverted blue button">
            <%= product.product_status %>
            <span><i class="cart plus icon"></i></span>
          </div>
        </div>
      </div>
    </div>
</div>