<!DOCTYPE html>
<html>
  <head>
    <title>FullstackFinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="ui container">
    <%= render partial: 'shared/menu' %>
    <%= render partial: 'shared/search_bar' %>
    <%= yield %>
  </div>

  </body>
</html>
